.testimonial {
    width: 500px;
    max-width: 100%;
    background: #ffca52;
    padding: 4em 3em;
    display: flex;
    align-items: flex-end;
    position: relative;
    box-shadow: 0 2px 2px hsl(0deg 0% 0%/.075), 0 3px 3px hsl(0deg 0% 0%/.075), 0 5px 5px hsl(0deg 0% 0%/.075), 0 9px 9px hsl(0deg 0% 0%/.075), 0 17px 17px hsl(0deg 0% 0%/.075);
    position: relative;

    .quote {
        position: absolute;
        font-size: 3em;
        width: 40px;
        height: 40px;
        background: navy;
        color: #fff;
        text-align: center;
        line-height: 1.25;

        &.open {
            top: 0;
            left: 0;
        }

        &.close {
            bottom: 0;
            right: 0;
        }
    }

    p {
        width: 60%;
        display: inline-block;
        font-weight: bold;
        font-size: 1.25em;
    }

    .source {
        width: 40%;
        height: 100%;
        position: relative;

        span {
            display: inline-block;
            font-weight: bold;
            font-size: 1.15em;
            position: relative;
            margin-left: 1rem;
            text-align: right;

            &:before {
                content: "\2014";
                display: inline;
                margin-right: 5px;
            }
        }
    }

    .image {
        transform: rotate(-5deg);
        position: absolute;
        top: 0.5em;
        right: 1.5em;

        img {
            border: 10px solid #fff;
            margin: 0;
            padding: 0;
        }

        .clip {
            border: 2px solid #222;
            border-right: none;
            height: 75px;
            width: 20px;
            position: absolute;
            right: 30%;
            top: -15%;
            border-radius: 25px;

            &:before {
                content: "";
                position: absolute;
                top: -1px;
                right: 0;
                height: 10px;
                width: 16px;
                border: 2px solid #222;
                border-bottom: none;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                z-index: 99;
            }

        }
    }
}